<div>
    <div class="overlay"></div>

    <div class="dialog dialog_tip">
        <a href="#close" class="dialog_btn dialog_close" data-action="close" title="关闭">&times;</a>

        <h2 class="dialog_hd">系统提示</h2>
        
        <div class="dialog_bd">
            <div class="dialog_tip_bd">
                <p class="dialog_tip_warn">{{#message}}</p>
            </div>
            <div class="form_btns">
                <button class="btn btn_primary dialog_btn" type="button" data-action="close">取 消</button>
                <button id="add_submit" class="btn btn_primary dialog_btn" type="button" data-action="submit">确 定</button>
            </div>
        </div>
    </div>
</div>