$blue: #B6C1F6;

.table_wrap{
    padding: 20px 0 35px 0;
    border-top: 1px solid #4A4A4A;
    border-bottom: 1px solid #4A4A4A;
}
.table_hd{
    margin-top: 20px;
    padding: 0 10px 0 20px;
}
.table {
    width: 100%;
    font-size: 12px;
    th, td {
        padding: 10px;
        box-sizing: border-box;
    }
    th{
        border-right: 4px solid #fff;
        border-bottom: 1px solid #E5E5E5;
    }
    td {
        border-bottom: 1px dashed #E5E5E5;
    }
}
.tools_item {
    display: inline-block;
    margin-left: 20px;
    color: $blue;
    &:first-child {
        margin-left: 0;
    }
}